.home-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.home-1{
    background-color: #ffff;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 

#right-content {
    width: 45%;
    height: 55vh; 
    background-color: green;
    background-image: url(https://img.freepik.com/free-photo/colorful-wallpaper-background-multicolored-generative-ai_91128-2257.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    object-fit: cover;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    border-radius: 10px;
}

#right-content .right-img{
width:40%;
border-radius:2px ;
margin: 0rem;
background: #ffffff;
padding: 1rem;
  border-radius: 10px 2px 0px 2px;
}

#left-content {
    background-color:   #e8e8e8;
    width: 45%;
    height: 55vh; 
    margin: 1rem;
     border-radius: 10px;
    
}
.cnt{
    margin: 1rem;
    position: relative;
    top: 2rem;
}
.b-cnt{
    position: relative;
    top: 5rem;
}
.top-p{
    border: 1px solid gray;
  width: 60%;
  text-align: center;
  border-radius: 50px;
   padding: 5px 0;
}
.b-cnt button{
width: 20%;
height: 6.5vh;
font-size: 24px;
font-weight: 300;
text-align: center;
padding: 2px;
}

.home-2{
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: red;
     width: 100%;
     height: 37vh;
}
 
.left{
    width: 50%;
    height: 35vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img{
margin: 1rem;
background-color: pink;
width: 50%;
height: 35vh;
}
.right{
    background-color: green;
    width: 50%;
    height: 35vh;
    display: flex;
    justify-content:  center;
    align-items: center;
    margin: 1;
}
.right img{
    height: 35vh;
    width:40%;
    background-color: blue;
    margin: 1rem;
}
.right-cnt{
    height: 35vh;
    width: 60%;
    background-color: brown;
    margin: 1rem;    
}

.demo{
    display: flex;
    height: 20vh;
    justify-content: center;
    align-items: center;
    background-color: blue;
}
.demo div{
    height: 20vh;
    width: 50%;
    background-color: yellow;
    margin: 1rem;
}