 
<section id="contact">
    <div class="footer">
      <div class="main-fot">
        <div class="list">
          <h4>Quick Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Terms & Condition</a></li>
            <li><a href="#">Static</a></li>
            <li><a href="#">Dynamic</a></li>
            <li><a href="#">Template</a></li>
          </ul>
        </div>

        <div class="list">
          <h4>Contact Info</h4>
          <ul>
            <li><a href="#">Maharashtra (PUNE)</a></li>
            <li><a href="#">Wadgaonsheri</a></li>
            <li><a href="#">Mahavir Nagar</a></li>
            <li><a href="#">Demo@email</a></li>
            <li><a href="#">000-000-0000</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="end-text">
      <p> Made by WebWave @2024</p>
    </div>

  </section>