<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>portfolio</title>

    <!-- Boxicons   -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
    />
    <!-- poppins     -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;
    0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;
    1,900&display=swap"
      rel="stylesheet"
    />
    <!-- Paytone   -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:ital,wght@0,100;0,200;
    0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;
    1,900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- jquery slick pluggin -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"
      integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
      integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- W3schools    -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- main css  -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <link rel="stylesheet" href="/css/about.css" />
  <!-- BODY start   -->

  <body>
    <!-- floating body -->
    <div class="float">
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
    </div>

    <!-- navbar -->
   <%- include('./nav')%>

    <!-- landing page -->
    <section id="Home" class="home-section">
      <div id="home-1" class="home-1">
        <div id="left-content">
          <div class="cnt">
            <p class="top-p">Crafting Websites, Creating Success.</p>
            <h1 class="HEADING">
              Your Path to a Stunning Website Starts Here - Choose Your Template
              Today!
            </h1>
          </div>
          <div class="cnt b-cnt">
            <p class="bottom-p">
              <i class="fa fa-sign-in" style="font-size: 20px"></i> A great
              website doesn't just happen. <br />
              It's planned, designed, and built with care.
            </p>
            <a href="#" class="home-btn">Explore</a>
          </div>
        </div>
        <div id="right-content">
          <img
            src="/img/landing-page-small-img.webp"
            alt=""
            class="right-img"
          />
        </div>
      </div>

      <div id="home-2" class="home-2">
        <div class="responnsive-header">
        <h2 class="heading">What We Do</h2>
      </div>
        <div class="responsive slider">
          <div>
            <img src="/img/Screenshot (41).png" alt="" class="h2-img" />
          </div>
          <div>
            <img src="/img/Screenshot (42).png" alt="" class="h2-img" />
          </div>
          <div>
            <img src="/img/Screenshot (43).png" alt="" class="h2-img" />
          </div>
          <div>
            <img src="/img/Screenshot (44).png" alt="" class="h2-img" />
          </div>
          <div>
            <img src="/img/Screenshot (41).png" alt="" class="h2-img" />
          </div>
          <div>
            <img src="/img/Screenshot (42).png" alt="" class="h2-img" />
          </div>
          <div>
            <img src="/img/Screenshot (43).png" alt="" class="h2-img" />
          </div>
          <div>
            <img src="/img/Screenshot (44).png" alt="" class="h2-img" />
          </div>
          <div>
            <img src="/img/Screenshot (41).png" alt="" class="h2-img" />
          </div>
        </div>
      </div>
    </section>

    <!-- template-cards  -->

    <section class="Template-cards">
      <div class="container">
        <div class="card__container">
          <!-- card number one(1)  -->
          <article class="card__article">
            <img
              src="/img/Staticc.png"
              alt="image"
              class="card__img"
              id="img"
            />
            <div class="card__data">
              <span class="card__description">
                Static web pages are made of “fixed code,” and unless the site
                developer makes changes, nothing will change on the page.</span
              >
              <h2 class="card__title">STATIC WEBSITE</h2>
              <a href="#" class="card__button">Read More</a>
            </div>
          </article>

          <!-- card number two(2) -->

          <article class="card__article">
            <img
              src="/img/dynamicc.png"
              alt="image"
              class="card__img"
              id="img"
            />
            <div class="card__data">
              <span class="card__description"
                >A dynamic website is a site that generates pages in real time,
                responding to dynamic characteristics such as screen size and
                device type.</span
              >
              <h2 class="card__title">DYNAMIC WEBSITE</h2>
              <a href="#" class="card__button">Read More</a>
            </div>
          </article>

          <!-- card number three(3)  -->

          <article class="card__article">
            <img
              src="/img/website_Template.jpeg"
              alt="image"
              class="card__img"
              id="img"
            />
            <div class="card__data">
              <span class="card__description"
                >The website template definition defines how and what
                information is displayed on the web for each
                template-type.</span
              >
              <h2 class="card__title">WEBSITE TEMPLATES</h2>
              <a href="#" class="card__button">Read More</a>
            </div>
          </article>
        </div>
      </div>
    </section>

    <section class="imp-text">
      <div class="template-header">
      <h2>Explore Template</h2>
    </div>
      <div class="right-text">
        <h1 class="title-text">
          We've the Best theme <br />
          marketplace available.
        </h1>
        <div class="float-1">
          <div class="denote">
            <i class="fa fa-comments" style="font-size: 36px"></i>
          </div>
          <br />
          <p class="p_text">
            Clear documentation and <br />
            theme support available
          </p>
        </div>
      </div>
      <div class="right-text">
        <div class="float-2">
          <div class="denote">
            <i class="fa fa-star" style="font-size: 48px; color: gold"></i>
          </div>
          <br />
          <p class="p_text">
            Home of the most popular <br />
            themes in India
          </p>
        </div>
      </div>

      <div class="main">
        <div class="space">
          <div class="filterable_cards">
            <div class="card">
              <img src="/img/Screenshot (41).png" alt=""></a>
              <div class="card_body">
                <h6 class="card_title">
                  <a href="">Business Website Template</a>
                </h6>
                <p class="card_text"></p>
              </div>
            </div>
            <div class="card">
              <a href=""><img src="/img/Screenshot (42).png" alt="" /></a>
              <div class="card_body">
                <h6 class="card_title">
                  <a href="">Photography Website Template</a>
                </h6>
                <p class="card_text"></p>
              </div>
            </div>
          </div>

          <!-- partition  -->

          <div class="between">
            <div class="filterable_cards">
              <div class="card">
                <a href=""><img src="/img/Screenshot (43).png" alt="" /></a>
                <div class="card_body">
                  <h6 class="card_title">
                    <a href="">Restaurant Website Template</a>
                  </h6>
                  <p class="card_text"></p>
                </div>
              </div>
              <div class="card">
                <a href=""><img src="/img/Screenshot (44).png" alt="" /></a>
                <div class="card_body">
                  <h6 class="card_title">
                    <a href="">Transportation Website Template</a>
                  </h6>
                  <p class="card_text"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end about section -->
    <%- include('./end-about') %>

    <!--  javascript part  -->
    <!-- jquery slick pluggin -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!-- jquery slick pluggin -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
      integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script src="js/jquery.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
