<link rel="stylesheet" href="/css/support.css" />
<link rel="stylesheet" href="/css/about.css">
<%-include('./nav')%>
<div class="support-page">
  <h1>Our Team</h1>
  <div class="team-des">
    <img src="/img/team.jpg" alt="support-img" />
    <p>
      At WebWave, our team is the heart and soul of everything we do. Comprised
      of passionate professionals from diverse backgrounds, we are dedicated to
      delivering excellence in every project. Our collaborative spirit,
      innovative mindset, and unwavering commitment to quality drive us to
      exceed expectations and achieve outstanding results. Together, we are more
      than just a team—we are a family, working towards a shared vision of
      success and growth.
    </p>
  </div>
  <div class="first-three">
    <h1>Our Members</h1>
    <div class="card-container">
      <div class="card">
        <div class="card-image">
          <img src="/img/team.jpg" alt="Team Member 1" />
        </div>
        <div class="card-header">
          <h2>Abhishek Mukhiya</h2>
        </div>
        <div class="card-body">
          <p>
            John is a senior developer with over 10 years of experience in web
            development. He specializes in front-end technologies and has a
            passion for creating intuitive user interfaces.
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img src="team-member-2.jpg" alt="Team Member 2" />
        </div>
        <div class="card-header">
          <h2>Tanmay Palav</h2>
        </div>
        <div class="card-body">
          <p>
            Jane is our project manager who ensures that all projects are
            delivered on time and within budget. She has a keen eye for detail
            and exceptional organizational skills.
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img src="team-member-3.jpg" alt="Team Member 3" />
        </div>
        <div class="card-header">
          <h2>Aditya Jaiswar</h2>
        </div>
        <div class="card-body">
          <p>
            Michael is a UX/UI designer with a talent for creating engaging and
            user-friendly designs. He is dedicated to improving user experiences
            through innovative design solutions.
          </p>
        </div>
      </div>
    </div>
  </div>
 
</div>
<%-include('./end-about')%>